* {
  padding: 0;
  margin: 0;
}
.upperDiv {
  /* background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/pic-2.JPG); */
  background: url("images/pic-2.JPG");
  background-size: cover;
  background-position: center;
  background-blend-mode: saturation;
  /* height: 40%; */
}

.upperDivCover {
  height: 150px;
  background-color: #606319;
  opacity: 0.5;
}

.middleDiv {
  background: #9EBC20;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}

.lowerDiv {
  background-color: #606319;
  /* height: 600px; */
  padding-bottom: 20px;
  padding-top: 10px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 33.3% 33.3% 33.3%; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-auto-rows: minmax(200px, auto);
  /* grid-gap: 20px; */
  grid-row-gap: 30px;
  grid-column-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
  /* margin-bottom: 20px; */
  /* background-color: lightgreen; */
}

.grid-item {
  /* height: 200px;
  width: 200px; */
  border: 1px solid black;
  color: silver;
}

/* #item_1 {
  background-image: url("images/pic-1.jpg");
  background-size: cover;
  background-position: center;
} */

.grid-item img {
  height: 100%;
  width: 100%;
}


#descDivs {
  margin-right: 20px;
  border: none;
  /* grid-column-gap: 50px; */
}

.price {
  background-color: #282C34;
  /* border: 1px solid silver; */
  width: 50px;
  padding: 5px;
  margin-bottom: 10px;
  /* font-size: 1em; */
  font-weight: bold;
}

.checkbox {
  margin-bottom: 10px;

}

input[name="quantity"] {
  width: 50px;
  padding: 5px;
  /* font-weight: bold; */
  /* background-color: #9EBC20; */
}
