* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),  url('../images/food1.jpg') no-repeat;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  height: 50px;
  width: 100%;
  /* background-color: #E0AF1A; */

}



.header-grid-container, .grid-item {
  text-align: center;
  margin-top: 10px;
}



.navigationDiv {
  background-color: #00bab1;
  /* background-color: black; */
  height: 80px;
  padding: 3px;
  line-height: 80px;
  color: white;
  /* opacity: 0.8; */
}

.left-links {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  float: right;
  margin-right: 50px;
  color: white;
  /* border: 1px solid #00BAB1;
  background-color: #00BAB1; */
  width: 100px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  /* border: 1px solid #E0AF1A; */
  border-bottom: 1px solid #00BAB1;
}

.left-links:hover {
  /* text-decoration: underline; */
  background-color: #E0AF1A;
  /* background-color: #00BAB1; */
  color: black;
  /* color: #E0AF1A; */
  /* color: #00BAB1; */
}

#home-link {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  margin-top: 20px;
  /* border: 5px solid #00BAB1; */
  border-radius: 5px;
}

#home-link:hover {
  background-color: #00BAB1;
}

.section_container {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url('../images/food1.jpg') no-repeat;
  height: 30vh;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  background-position: center;
}


.middleDiv {
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1px;
}

.behind-the-lowerDiv {
  /* opacity: 0.6; */
}

#div-for-cart {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  color: white;
}

#checkout {
  color: black;
  font-weight: bold;
  float: right;
  margin-right: 4rem;
  width: 10%;
  max-height: 15%;
  padding: 5px;
  background-color: #00bab1;
}

.lowerDiv {
  /* background-color: #293038; */
  background-color: #282C34;
  /* opacity: 0.8; */
  padding-bottom: 20px;
  padding-top: 10px;

}


.grid-container {
  display: grid;
  /* grid-template-columns: 33.3% 33.3% 33.3%; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  /* grid-gap: 20px; */
  grid-row-gap: 30px;
  grid-column-gap: 10px;
  max-width: 960px;
  margin: 0 auto;

}

.grid-item {
  /* background-color: black; */
  padding: 10px;
  border-top: 1px solid #E0AF1A;
  border-bottom: 1px solid #00bab1;
  border-radius: 5px;
  /* height: auto; */
  /* color: white; */
  /* color: black; */
}

.btn-select-item {
  /* border: none; */
  width: 100%;
  display: block;
  max-height: 15%;
  padding: 5px;
  background-color: #00bab1;
  font-weight: bold;
}

.btn-select-item:hover {
  background-color: #E0AF1A;
  /* border: 2px solid #E0AF1A; */
}

.item-name {
  color: white;
  font-weight: bold;
  /* display: hidden; */
  /* visibility: hidden; */
}

.price {
  background-color: #282C34;
  /* display: inline-block; */
  width: 90%;
  /* width: 50px; */
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 3.5px;
  /* font-size: 1em; */
  font-weight: bold;
  /* color: #00bab1; */
  color: #E0AF1A;
  /* margin: auto; */
}

.grid-item img {
  height: 80%;
  width: 100%;
  border-radius: 5px;
}
/* #item_1 {
  background-image: url("images/pic-1.jpg");
  background-size: cover;
  background-position: center;
} */




#descDivs {
  color: white;
  /* margin-right: 20px; */
  /* border: none; */
  border-top: 1px solid #E0AF1A;
  border-bottom: 1px solid ##00bab1;
  /* grid-column-gap: 50px; */
}



.checkbox {
  margin-bottom: 10px;

}

input[name="quantity"] {
  width: 50px;
  padding: 5px;
}

/* .grid-item img:hover { */
  /* outline: 5px solid red; */
  /* transform: scale(1.1); */
  /* transition: all, .5s; */
/* } */

@media screen and (max-width: 700px) {
  .div_products {
    width: 100%;
    float
  }
}
