* {
  padding: 0;
  margin: 0;
}
.upperDiv {
  /* background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/pic-2.JPG); */
  background: url("images/pic-2.JPG");
  background-size: cover;
  background-position: center;
  background-blend-mode: saturation;
  /* height: 40%; */
}

.upperDivCover {
  height: 150px;
  background-color: #606319;
  opacity: 0.5;
}

.middleDiv {
  background: #9EBC20;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px;
}

.lowerDiv { /*RECALL: lowerDiv is also the main-grid-container */
  background: url("images/pic-3.jpg");
  background-size: cover;
  background-position: center;

  background-color: #122601;
  /* padding-bottom: 20px; */
  /* padding-top: 10px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(80px, auto);
  /* max-width: 1400px; */
  /* grid-column-gap: 20px; */
}


.divLinks {
  padding-top: 50px;
  /* border-right: 1px solid #9EBC20; */
  background-color: #122601;
  /* width: 200px; */
}

.links {
  width: 80%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 50px auto;
  /* margin-bottom: 20px; */
  /* margin-left: 10px; */

}

.links:hover {
  background-color: #9EBC20;
}

.links a {
  color: white;
  text-decoration: none;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 33.3% 33.3% 33.3%; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-auto-rows: minmax(50px, auto);
  /* grid-gap: 20px; */
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  max-width: 700px;
  background-color: #122601;
  /* opacity: 0.9; */
  /* margin: 0 auto; */
  /* margin-left: 150px; */

  /* border: 3px solid lightgreen; */

}

.grid-item {
  width: 200px;
  height: 180px;
  /* border: 1px solid green; */
  color: silver;
}


.grid-item img {
  height: 100%;
  width: 100%;
}


#descDivs {
  margin-right: 20px;
  /* border: 1px solid green; */
  width: 120px;
}

.price {
  /* background-color: #282C34; */
  background-color: #1C2C01;
  width: 50px;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}

.checkbox {
  margin-bottom: 10px;

}

input[name="quantity"] {
  width: 48px;
  padding: 5px;
  border: none;
  /* border: 1px solid #9EBC20; */
  /* background-color: black; */
  background-color: #1C2C01;
  color: white;
}

.selectedItems {
  /* border: 2px solid #9EBC20; */
  width: 450px;
  color: white;
  background-color: #122601;
  opacity: 0.8;
}

#orderTable, #tableTotal {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#orderTable caption {
  margin-bottom: 20px;
  font-family: cursive;
  font-weight: 900;
  color: #FDC62D;
}

th, td {
  text-align: center;
  padding: 10px;
}

#orderTable tr:nth-child(even) {
  /* background-color: green;
  opacity: 0.3;
  color: yellow; */
}

tr {
  border-bottom: 1px solid #9EBC20;
}

#orderTable th, .serialNo {
  background-color: #9EBC20;
}

#orderTable .deleteItem {
  background-color: red;
  width: 17px;
  /* transition-duration: 0.4s; */
}

#orderTable .deleteItem:active {
  background-color: pink;
}

#tableTotal th {
  /* display: none; */
  visibility: hidden;
}

#tableTotal td {
  font-weight: 900;
}

#totalPrice {
  font-size: 24px;
}

#btnPurchase {
  background-color: #7DC996;
  font-size: 16px;
  font-weight: 900;
  padding: 10px 24px;
  border-radius: 2px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  display: block;
  margin: auto;
  margin-top: 20px;
}

#btnPurchase:hover {
  background-color: #1F2B02;
  color: white;
}

#btnPurchase:active {
  background-color: #4CAF50;
  color: white;
}
.selectButtons {
  /* background-color: #7DC996; */
  color: silver;
  font-weight: 900;
  font-size: 14px;
  padding: 5px;
  border-radius: 2px;
  transition-duration: 0.4s;
  /* -webkit-transition-duration: 0.4s; */
  color: black;
  background-color: #4CAF50;
}


.selectButtons:active {
  background-color: #232E03;
  color: white;
}


#totalPrice {

}
